################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Homework 12.slnx/FileContentIndex
/CustomerMaintenance/.vs/CustomerMaintenance/FileContentIndex
